:not(pre):not(code) {
    /* Unifont has the largest set of unicode encodings, it's used as a backup font for unicode symbols */
    font-family: Unifont;
    font-size: 16pt;
}

code {
    font-family: mononoki;
}
